$primary: #005089;
$secondary: #0095ff;

$brand-primary: #005089 !important; // 005da2
$brand-secondary: #37a000;
$brand-success: #006600;
$brand-warning: #b55600;
$brand-danger: #990f3d;
$brand-info: #800080;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
$skyblue: #b9fdfc;
$lightblue: #0095ff;
$darkgreen: #006600;
$darkgray: #333333;
