$primary: #005089;
$secondary: #006600;

$brand-primary: #005089 !important; // 005da2
$brand-secondary: #006600;
$brand-success: #006600;
$brand-warning: #b55600;
$brand-danger: #990f3d;
$brand-info: #800080;

$skyblue: #b9fdfc;
