@font-face {
  font-family: "Ubuntu";
  src: url([[font:theme|Ubuntu-Regular.eot]]);
  src: url([[font:theme|Ubuntu-Regular.eot]]) format("embedded-opentype"),
    url([[font:theme|Ubuntu-Regular.woff]]) format("woff"),
    url([[font:theme|Ubuntu-Regular.woff2]]) format("woff2"),
    url([[font:theme|Ubuntu-Regular.ttf]]) format("truetype"),
    url([[font:theme|Ubuntu-Regular.svg]]) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url([[font:theme|Ubuntu-SemiBold.eot]]);
  src: url([[font:theme|Ubuntu-SemiBold.eot]]) format("embedded-opentype"),
    url([[font:theme|Ubuntu-SemiBold.woff]]) format("woff"),
    url([[font:theme|Ubuntu-SemiBold.woff2]]) format("woff2"),
    url([[font:theme|Ubuntu-SemiBold.ttf]]) format("truetype"),
    url([[font:theme|Ubuntu-SemiBold.svg]]) format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url([[font:theme|Ubuntu-Bold.eot]]);
  src: url([[font:theme|Ubuntu-Bold.eot]]) format("embedded-opentype"),
    url([[font:theme|Ubuntu-Bold.woff]]) format("woff"),
    url([[font:theme|Ubuntu-Bold.woff2]]) format("woff2"),
    url([[font:theme|Ubuntu-Bold.ttf]]) format("truetype"),
    url([[font:theme|Ubuntu-Bold.svg]]) format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url([[font:theme|Quicksand-Bold.eot]]);
  src: url([[font:theme|Quicksand-Bold.eot]]) format("embedded-opentype"),
    url([[font:theme|Quicksand-Bold.woff]]) format("woff"),
    url([[font:theme|Quicksand-Bold.woff2]]) format("woff2"),
    url([[font:theme|Quicksand-Bold.ttf]]) format("truetype"),
    url([[font:theme|Quicksand-Bold.svg]]) format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans SC";
  src: url([[font:theme|NotoSansSC-Regular.eot]]);
  src: url([[font:theme|NotoSansSC-Regular.eot]]) format("embedded-opentype"),
    url([[font:theme|NotoSansSC-Regular.woff]]) format("woff"),
    url([[font:theme|NotoSansSC-Regular.woff2]]) format("woff2"),
    url([[font:theme|NotoSansSC-Regular.ttf]]) format("truetype"),
    url([[font:theme|NotoSansSC-Regular.svg]]) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans SC";
  src: url([[font:theme|NotoSansSC-Medium.eot]]);
  src: url([[font:theme|NotoSansSC-Medium.eot]]) format("embedded-opentype"),
    url([[font:theme|NotoSansSC-Medium.woff]]) format("woff"),
    url([[font:theme|NotoSansSC-Medium.woff2]]) format("woff2"),
    url([[font:theme|NotoSansSC-Medium.ttf]]) format("truetype"),
    url([[font:theme|NotoSansSC-Medium.svg]]) format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans SC";
  src: url([[font:theme|NotoSansSC-Bold.eot]]);
  src: url([[font:theme|NotoSansSC-Bold.eot]]) format("embedded-opentype"),
    url([[font:theme|NotoSansSC-Bold.woff]]) format("woff"),
    url([[font:theme|NotoSansSC-Bold.woff2]]) format("woff2"),
    url([[font:theme|NotoSansSC-Bold.ttf]]) format("truetype"),
    url([[font:theme|NotoSansSC-Bold.svg]]) format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Ma Shan Zheng";
  src: url([[font:theme|MaShanZheng-Regular.eot]]);
  src: url([[font:theme|MaShanZheng-Regular.eot]]) format("embedded-opentype"),
    url([[font:theme|MaShanZheng-Regular.woff]]) format("woff"),
    url([[font:theme|MaShanZheng-Regular.woff2]]) format("woff2"),
    url([[font:theme|MaShanZheng-Regular.ttf]]) format("truetype"),
    url([[font:theme|MaShanZheng-Regular.svg]]) format("svg");
  font-weight: 400;
  font-style: normal;
}

$font-family-system: -apple-system, BlinkMacSystemFont, "Ubuntu",
  "Ma Shan Zheng", "Noto Sans SC", "Quicksand", "Montserrat", "Helvetica Neue",
  Arial, sans-serif !default;
$font-family-sans-serif: "Ubuntu", "Noto Sans SC", "Ma Shan Zheng", sans-serif,
  $font-family-system;
$font-family-feature: "Ubuntu", "Noto Sans SC", $font-family-system;
$font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace;
$headings-font-family: "Quicksand", "Ubuntu", "Helvetica Neue", Arial,
  sans-serif;

$font-size-root: 17px;
$font-size-base: 16px;
$font-size-lg: 1.25rem;
$font-size-sm: 0.75rem;
$font-size-xs: 0.6rem;
