@font-face {
  font-family: "PT Sans";
  src: url([[font:theme|PTSans-Regular.eot]]);
  src: url([[font:theme|PTSans-Regular.eot]]) format("embedded-opentype"),
    url([[font:theme|PTSans-Regular.woff]]) format("woff"),
    url([[font:theme|PTSans-Regular.woff2]]) format("woff2"),
    url([[font:theme|PTSans-Regular.ttf]]) format("truetype"),
    url([[font:theme|PTSans-Regular.svg]]) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url([[font:theme|PTSans-Bold.eot]]);
  src: url([[font:theme|PTSans-Bold.eot]]) format("embedded-opentype"),
    url([[font:theme|PTSans-Bold.woff]]) format("woff"),
    url([[font:theme|PTSans-Bold.woff2]]) format("woff2"),
    url([[font:theme|PTSans-Bold.ttf]]) format("truetype"),
    url([[font:theme|PTSans-Bold.svg]]) format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url([[font:theme|Quicksand-Bold.eot]]);
  src: url([[font:theme|Quicksand-Bold.eot]]) format("embedded-opentype"),
    url([[font:theme|Quicksand-Bold.woff]]) format("woff"),
    url([[font:theme|Quicksand-Bold.woff2]]) format("woff2"),
    url([[font:theme|Quicksand-Bold.ttf]]) format("truetype"),
    url([[font:theme|Quicksand-Bold.svg]]) format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans SC";
  src: url([[font:theme|NotoSansSC-Regular.eot]]);
  src: url([[font:theme|NotoSansSC-Regular.eot]]) format("embedded-opentype"),
    url([[font:theme|NotoSansSC-Regular.woff]]) format("woff"),
    url([[font:theme|NotoSansSC-Regular.woff2]]) format("woff2"),
    url([[font:theme|NotoSansSC-Regular.ttf]]) format("truetype"),
    url([[font:theme|NotoSansSC-Regular.svg]]) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans SC";
  src: url([[font:theme|NotoSansSC-Medium.eot]]);
  src: url([[font:theme|NotoSansSC-Medium.eot]]) format("embedded-opentype"),
    url([[font:theme|NotoSansSC-Medium.woff]]) format("woff"),
    url([[font:theme|NotoSansSC-Medium.woff2]]) format("woff2"),
    url([[font:theme|NotoSansSC-Medium.ttf]]) format("truetype"),
    url([[font:theme|NotoSansSC-Medium.svg]]) format("svg");
  font-weight: 500;
  font-style: normal;
}

$font-family-system: -apple-system, BlinkMacSystemFont, "PT Sans",
  "Noto Sans SC", "Quicksand", "Montserrat", "Helvetica Neue", Arial, sans-serif !default;
$font-family-sans-serif: "PT Sans", "Noto Sans SC", sans-serif,
  $font-family-system;
$font-family-feature: "PT Sans", "Noto Sans SC", $font-family-system;
$font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace;
$headings-font-family: "Quicksand", "Noto Sans SC", "Helvetica Neue", Arial,
  sans-serif;

$font-size-root: 18px;
$font-size-base: 16px;
$font-size-lg: 1.25rem;
$font-size-sm: 0.75rem;
$font-size-xs: 0.6rem;
